<mat-card>
    <mat-card-header>
        <mat-card-title>{{restaurante.nombre}}</mat-card-title>
        <mat-card-subtitle>{{restaurante.descripcion}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="restaurante | imagen">
    <mat-card-content>
        <h3>{{restaurante.direccion}}</h3>
        <p>
            <strong>Email:</strong>{{restaurante.email}}
            <br>
            <strong>Telefono:</strong>{{restaurante.telefono}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="warn" [routerLink]="['/restaurantes', restaurante.id]">Leer más...</button>
        <button mat-button color="info" [routerLink]="['/restaurantes/editar', restaurante.id]">Editar</button>
        
    </mat-card-actions>
</mat-card>