<ng-template #divLoading>
	<mat-grid-list cols="1">
    	<mat-grid-tile>
        	<mat-spinner></mat-spinner>
    	</mat-grid-tile>
	</mat-grid-list>
</ng-template>

<div *ngIf="restaurante; else divLoading" class="grid p-2">
	<mat-card class="col-12 sm:col-6">
    	<mat-card-header>
        	<mat-card-title>{{restaurante.nombre}}</mat-card-title>
    	</mat-card-header>
    	<img [src]="restaurante | imagen" [alt]="restaurante.nombre" mat-card-image>
	</mat-card>
	<mat-card class="col-12 sm:col-6">
    	<mat-card-header>
        	<mat-card-title>Información</mat-card-title>
        	<mat-card-subtitle>{{restaurante.direccion}}</mat-card-subtitle>	 
    	</mat-card-header>
    	<mat-card-content>
        	<mat-list>
            	<mat-list-item>{{restaurante.descripcion}}</mat-list-item>
            	<mat-list-item>{{restaurante.email}}</mat-list-item>
            	<mat-list-item>{{restaurante.telefono}}</mat-list-item>
            	<mat-list-item>{{restaurante.web}}</mat-list-item>
                <mat-list-item>{{restaurante.capacidad}}</mat-list-item>
        	</mat-list>
        	<button mat-button color="warn" (click)="regresar()">
            	Regresar
        	</button>
    	</mat-card-content>
	</mat-card>
</div>
