<mat-sidenav-container fullscreen>
	<mat-sidenav #sidenav>
    	<mat-toolbar color="primary">
        	<span> Menu</span>
        	<span class="spacer"></span>
        	<button mat-icon-button (click)="sidenav.toggle()">
            	<mat-icon>menu</mat-icon>
        	</button>
    	</mat-toolbar>
    	<mat-nav-list>
        	<a routerLink="./listado" mat-list-item (click)="sidenav.toggle()">
            	<!-- El click es para que se cierre -->
            	<mat-icon mat-list-icon>label</mat-icon>
            	<span>Listado de restaurantes</span></a>
        	<a routerLink="./agregar" mat-list-item (click)="sidenav.toggle()">
            	<mat-icon mat-list-icon>add</mat-icon>
            	<span>Añadir Heroe</span></a>
        	<a routerLink="./buscar" mat-list-item (click)="sidenav.toggle()">
            	<mat-icon mat-list-icon>search</mat-icon>
            	<span>Buscar Heroe</span></a>
    	</mat-nav-list>
	</mat-sidenav>

	<mat-toolbar>
    	<button mat-icon-button (click)="sidenav.toggle()">
        	<mat-icon>menu</mat-icon>
    	</button>
    	<span class="spacer"></span>
    	<!-- Defino esta clase en styles.css, es para que se vea a la derecha.-->
    	<!-- <span>{{auth.usuario}}</span> -->
    	<button mat-button (click)="logout()">
        	Logout
    	</button>
	</mat-toolbar>
	<div class="container">
    	<!--  cargo las páginas-->
    	<router-outlet></router-outlet>
	</div>
</mat-sidenav-container>
